body{
    background-color: #ffffff;
    padding: 0px;
    margin: 0;
    font-family: 'Roboto Condensed','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: rgb(234, 228, 228);
}

html,body{
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background-color: hsl(218, 74%, 57%);
    cursor: pointer;
}

button:hover{
    background-color: hsl(218, 72%, 51%);
}