body{
    background-color: #ffffff;
    padding: 0px;
    margin: 0;
    font-family: 'Didact Gothic','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}