.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #393536;
    color: white;
}

.logo img{
    width: 70px;
    cursor: pointer;
    border-radius: 8px;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    
}

.nav ul li:hover{
    transition: text-decoration 1s;
    text-decoration: underline #1fb2e4 3px;
    cursor: pointer;
}