.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #393536;
    color: white;
    z-index: 2;
    margin-top: -57px;
}

.logo img{
    width: 70px;
    cursor: pointer;
    border-radius: 8px;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    
}

.nav ul li:hover{
    transition: text-decoration .5s ease-in-out;
    text-decoration: underline #316adf 3px;
    cursor: pointer;
}

#service, #aboutUs {
    scroll-margin-top: 95px ;
}

#contactUs{
    scroll-margin-top: 110px;
}

@media (min-width:1024px){
    .logo{
        flex-grow: 1;
    }
}